@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
body {
  background-color: #222;
}

.plate{
  width: 410px;
  margin: 10% auto;
}

.shadow{
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
  -3px -3px 0 #222,
  3px  -3px 0 #222,
  -3px  3px 0 #222,
  3px 3px 0 #222,
  4px 4px 0 #fff,
  5px 5px 0 #fff,
  6px 6px 0 #fff,
  7px 7px 0 #fff ;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;

}

.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
